header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #184d23,
    #2e7d32
  );
  color: #b3d8c3;
  padding: 1rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  box-shadow: 0 1px 8px rgba(24, 77, 35, 0.4);
}

img {
  width: 3.5rem;
  object-fit: contain;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
  text-wrap: balance;
}

@media (min-width: 768px) {
  header {
    padding: 2rem;
  }

  img {
    width: 4.5rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}




button {
  padding: 8px 16px;
  border-radius: 6px;
  border: 3px solid black;
  background: #03562b;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1d852a;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  z-index: 5;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.invalid {
  border: 2px solid #e53935;
  background: #ffe5e5;
}

.error {
  color: #d32f2f;
  font-size: 13px;
  margin: -8px 0 5px 0;
}

.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.btns button:last-child {
  background: #777;
}

.btns button:last-child:hover {
  background: #555;
}